<h1> All Contacts </h1>

<h2> <a href="/">Back to Homepage</a> 

<ul>
<% @all_contacts.each do |contact| %>
    <li> <p> Name - <%= contact.full_name %> </p> <p> Email - <%= contact.email %> </p> <p> Note - <%= contact.note %> </p> </li>
  <% end %>
</ul>
