
<div class="contact_container">
<p class="contact_count">There are <%= @contacts.count %> contacts </p>

<ul>
  <% @contacts.each do |contact| %>
    <li class="actual_contact">
    <a href="/contacts/<%=contact.id %>">Name: <%= "#{contact.full_name}" %> </a> <p> Email: <%= "#{contact.email}" %></p>
    <p><a href="...">Edit</a> | <a href="...">Delete</a></p>
    </li>
  <% end %>
</ul>

</div>
